/* https://fontawesome.com/search */

/* bootstrap */
$btn-font-family: inherit;

:root {
  --bs-body-font-family: "Work Sans", sans-serif;
  --bs-dropdown-link-hover-color: #fff;
  --bs-heading-color: inherit;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-btn-font-family: inherit;
}

.card {
  .card-body {
    color: $color-blue;
    .card-title {
      font-weight: 700;
    }
  }
}
@import 'aos/dist/aos.css';
@import 'bootstrap/dist/css/bootstrap.css';