
$font-family-work: "Work Sans", sans-serif;
$font-family-urbanist: "Urbanist", sans-serif;

$assets: '/assets';

$color-blue: #302ca7;
$color-blue-light: #1dc5f2;
$color-grey: #666666;
$color-grey-dark: #444444;
$color-grey-background: #D9D9D9;
$color-orange: #ff6c38;
$color-orange-dark: #e44d17;
$color-violet: #692cb4;
$color-violet-light: #a259fe;
$color-violet-background: #a259fe5e;
$color-white: #ffffff;
$color-white-background: #f9f9f9;
$color-white-border: #ced4da;
$color-green: #09CF82;;
$color-green-border: #048023;
$color-black: #000000;

$text-shadow: 1px 0px 4px #ffffff80;
$text-shadow-black: 1px 2px 4px black;
$box-shadow-light: 1px 0px 6px 1px #ffffffa0;
$box-shadow-gray: 1px 2px 7px #8f8f8fa6;
$box-shadow-black: 0px 0px 20px #00000040;
$box-shadow-black-background: #00000015;
