---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import Trans from '../../../i18n/utils.astro'
import HeadingComponent from '../../../components/Heading.astro'
import ImageAssetsComponent from '../../../components/ImageAssets.astro'
import TagGroupComponent from '../../../components/TagGroup.astro'

const {
  lang='',
  portfolio={}
} = Astro.props
---

<div 
  class="row my-5 py-5" 
  data-aos="fade-right" 
  data-aos-easing="ease-in-sine" 
  data-aos-delay="100" 
  data-aos-offset="10"
  data-aos-once="true"
>
  <div class="col-12 col-md-6 ">
    <div class="my-4">
      <HeadingComponent level={3}>
        {portfolio.name}
      </HeadingComponent>
      <TagGroupComponent tags={portfolio.tags} />
      <a 
        href={getAbsoluteLocaleUrl(lang,portfolio.path)} 
        class="btn btn-warning" 
      >
        <Trans i18nKey='pagesProjects:portfolio-btn-view' />
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 d-flex justify-content-center col2">
    <ImageAssetsComponent className='w-100 h-auto rounded' src={portfolio.image} alt={portfolio.name} width='366' height='300' />
  </div>
</div>