---
import Trans, { t } from '../../../i18n/utils.astro'
import SectionComponent from '../../../components/Section.astro'
import MessageComponent from '../../../components/Message.astro'

const  {
  lang=''
} = Astro.props
---

<SectionComponent className="top hero d-flex align-items-center full">
  <div class="container">
    <div class="row">
      <MessageComponent 
        className='div_res_contacto'
        title={true}
      >
        <Trans slot='title' i18nKey='pagesContact:form-disabled-title' />
        <Trans slot='message' i18nKey='pagesContact:form-disabled-message' />
      </MessageComponent>
    </div>
  </div>
</SectionComponent>