---
import Trans from '../../../i18n/utils.astro'
import HeadingComponent from '../../../components/Heading.astro'
---

<div class="col-12 col-lg-5 col1">
  <div class="pattern01 div_res_contacto">
    <HeadingComponent level={1}>
      <Trans i18nKey='pagesContact:heading-1-1' /> <br class="hide_desktop" /> 
      <Trans i18nKey='pagesContact:heading-1-2' /> <br class="hide_mobile" /> 
      <Trans i18nKey='pagesContact:heading-1-3' /> <br class="hide_desktop" />
      <Trans i18nKey='pagesContact:heading-1-4' />
    </HeadingComponent>

    <HeadingComponent level={2}>
      <span class="uppercase thin">
        <Trans i18nKey='pagesContact:heading-2-thin-1' /> <br class="hide_desktop" /> 
      </span>
      <strong class="uppercase">
        <Trans i18nKey='pagesContact:heading-2-strong-1' /> <br class="hide_mobile" /> 
        <Trans i18nKey='pagesContact:heading-2-strong-2' />
      </strong>
      <span class="uppercase thin">
        <Trans i18nKey='pagesContact:heading-2-thin-2' /> <br class="hide_desktop" />
        <Trans i18nKey='pagesContact:heading-2-thin-3' /> <br class="hide_mobile" />
        <Trans i18nKey='pagesContact:heading-2-thin-4' />
      </span>
    </HeadingComponent>
  </div>
</div>
