---
import Trans from '../../../i18n/utils.astro'
import HeadingComponent from '../../../components/Heading.astro'

const {
  title=''
} = Astro.props
---

<div class="row">
  <div class="col text-center">
    <HeadingComponent level={2} className='projectSubTitle subtitle-underline'>
      <Trans i18nKey={title} />
    </HeadingComponent>
  </div>
</div>