---
import HeadingComponent from './Heading.astro'

const {
  className='',
  title=true
} = Astro.props
---

<div class="col">
  <div class={`pattern01 ${className}`}>
  {title && (
    <HeadingComponent level={1}>
      <slot name='title' />
    </HeadingComponent>
    )}
    <HeadingComponent level={2}>
      <span className="thin">
        <slot name='message' />
      </span>
    </HeadingComponent>
  </div>
</div>