---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import Trans, { t } from '../i18n/utils.astro'

import pages from '../content/pages/index.json'

const {
  lang='',
  route='',
} = Astro.props
---

{pages.map((page) => {
  const current = (route).includes(page.path) ? true : false
  return (
    <li class="nav-item">
      <a 
        class={`nav-link ${current ? 'active' : ''}`}
        href={getAbsoluteLocaleUrl(lang, page.path)} 
        tabindex={0}
        aria-label={t(lang,page.name)}
        aria-current={current ? 'page' : false }
      >
        <Trans i18nKey={page.name} />
      </a>
    </li>
  )
})}