---
import Trans from '../i18n/utils.astro'
import tagsContent from '../content/tags/index.json'

const {
  tagKey
} = Astro.props
const tag = tagsContent?.[tagKey] || null
---

{tag && (
  <li class={tag.className}>
    <Trans i18nKey={tag.text} /> 
  </li>
)}