---
import Trans from '../i18n/utils.astro'
import SectionComponent from './Section.astro'
import HeadingComponent from './Heading.astro'
const {
  className='',
  fluid=false,
} = Astro.props
---

<SectionComponent 
  className={`${className} d-flex align-items-end`} 
  data-aos='zoom-in' 
  data-aos-offset='60'
  data-aos-once='true'
>
  <div class={`container${fluid ? '-fluid' : ''}`}>
    <div class="row">
      <div class="col d-flex justify-content-center align-self-end">
        <HeadingComponent level={2} className='d-none'>
          <Trans i18nKey='pagesHome:us-btn-team' />
        </HeadingComponent>
        <slot />
      </div>
    </div>
  </div>
</SectionComponent>