---
import { getAbsoluteLocaleUrl } from 'astro:i18n'
import Trans, { t } from '../../../i18n/utils.astro'
import SectionComponent from '../../../components/Section.astro'
import HeadingComponent from '../../../components/Heading.astro'
import ParagraphComponent from '../../../components/Paragraph.astro'
import ImageAssetsComponent from '../../../components/ImageAssets.astro'

const {
  lang
} = Astro.props
---

<SectionComponent class='section-2 bg-parallax d-flex align-items-center'>
  <div class="container d-flex align-items-center">
    <div class="row">
      <div class="col-12 col-md-6 col1 col-lg-7">
        <HeadingComponent level={2} className='h1'>
          <span class="thin">
            <Trans i18nKey='pagesHome:parallax-thin' />
          </span>
          <br/>
          <strong>
            <Trans i18nKey='pagesHome:parallax-strong' />
          </strong>
        </HeadingComponent>
      </div>
      <div class="col-12 col-md-6 col2 col-lg-5">
        <div class="container d-flex align-items-center">
          <div class="row">
            <div class="col-12 parrafo_somos">
              <ImageAssetsComponent src='logo-pro-white.svg' alt='logo' width={44} height={44} />
              <ParagraphComponent className='text-light my-4'>
                <Trans i18nKey='pagesHome:parallax-paragraph' />
              </ParagraphComponent>
              <a 
                href={getAbsoluteLocaleUrl(lang, 'aboutus')} 
                class="btn btn-warning"
                aria-label={t(lang,'pagesHome:parallax-button')}
              >
                <Trans i18nKey='pagesHome:parallax-button' />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</SectionComponent>
