---
import Trans from '../../../i18n/utils.astro'
import SectionComponent from '../../../components/Section.astro'
import HeadingComponent from '../../../components/Heading.astro'
import ParagraphComponent from '../../../components/Paragraph.astro'
import TagGroupComponent from '../../../components/TagGroup.astro'
import ImageAssetsComponent from '../../../components/ImageAssets.astro'

const {
  tags=[]
} = Astro.props
---

<SectionComponent className='section-3'>
  <div class="container">
    <div class="row d-flex align-items-center">
      <div 
      class="col-12 col-md-12 col-lg-6 order-2 order-md-2 order-lg-1" 
        data-aos="fade-right" 
        data-aos-once="true"
      >
        <HeadingComponent level={2} className='h3'>
          <Trans i18nKey='pagesHome:whatwedo-heading-3' />
        </HeadingComponent>
        <ParagraphComponent className='my-4 special parrafo_dedicamos'>
          <Trans i18nKey='pagesHome:whatwedo-paragraph' />
        </ParagraphComponent>
        <TagGroupComponent tags={tags} />
      </div>
      <div 
      class="col-12 col-md-12 col-lg-6 order-1 order-md-1 order-lg-2" 
        data-aos="fade-left" 
        data-aos-once="true"
      >
        <ImageAssetsComponent 
          className='laptopPlaceholder' 
          src='laptop.webp' 
          alt='laptop' 
          loading='eager'
          width={727} 
          height={672}
        />
      </div>
    </div>
  </div>
</SectionComponent>
